@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #fff;
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  background-color: rgb(0, 106, 255);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  position: relative;
}

.video img {
  object-fit: cover;
  max-width: 100%;
}

.video-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.link-tag:hover {
  color: #000000;
}


.form-control {
  width: 300px;
  margin: 20px;
}

.navbar {
  padding: 1rem 3rem;
  background-color: rgb(0, 106, 255) !important;
}

.register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-form {
  flex: 1;
  background-color: #eeeeee;
  color: #000000;
  padding: 5rem;
}

.form-label {
  padding-left: 1.5rem;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.form-control {
  width: 90%;
}

.btn-primary {
  margin-left: 1.5rem;
}

.form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form-image {
  flex: 1;
  min-width: 900px;
  min-height: 900px;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.buttons h3 {
  margin-top: 8px;
}

a {
  text-decoration: none;
}

.link {
  color: #0b5ed7;
  text-decoration: underline;
  margin-left: 1.5rem;
  cursor: pointer;
}

.link-tag{
  text-decoration: none;
  color: white;
}


.video-responsive iframe {

    margin: 1rem auto;
    display: block;
}

.nf-container{
  margin: 5rem;
  position: center;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

.nf-container h3 {
color: #000000;
font-weight: bold;
}

.not-found{
  color: red;
  font-size: 10rem;
}


.section-center {
  width: 80vw;
  margin: 0 auto;
  margin-top: 8rem;
}


.section-center {
  background: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
}



.comments-form h3 {
  color: rgb(5, 5, 16);
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-control {
  display: flex;
  justify-content: center;
}

.comments {
  padding: 0.25rem;
  padding-left: 1rem;
  background: hsl(210, 36%, 96%);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: hsl(210, 22%, 49%);
}

.comments::placeholder {
  color: hsl(210, 22%, 49%);
}

.submit-btn {
  background: hsl(205, 86%, 81%);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
  content: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  font-size: 0.85rem;
}

.submit-btn:hover {
  background: hsl(205, 78%, 60%);
  color: #fff;
}

.comments-container {
  margin-top: 2rem;
}

.comments-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: black;
}

.comments-item:hover {
  color: hsl(210, 22%, 49%);
  background: var(--clr-grey-10);
}

.comments-item:hover .title {
  color: hsl(210, 22%, 49%);
}

.comment-title {
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: all 0.3s linear;
}



.header2 {
color: #000000;
display: flex;
justify-content: center;
margin-top: 3rem;


}

.error-message {
  color: red;
}

.related-div{
  display: flex;
  align-items: center;
  justify-content: center;
}